@import url("reset.css");

body {
  font-family: "Montserrat", sans-serif;
}

* {
  color: #00000f;
}
p {
  color: darkblue;
}
.menu__item {
  color: purple;
}
#title {
  color: red;
}
[class*="container"] {
  color: red;
}
#block-1 p {
  color: green;
}
h2.title {
  color: springgreen;
}
.main__title.title {
  color: gold;
}
div,
p,
.menu__item {
  color: aquamarine;
}
.main div {
  color: hotpink;
}
.main .title {
  color: bisque;
}
#block-1 ~ p {
  color: pink;
}
.block h2 + p {
  color: darkorchid;
}
.main__containet > div {
  color: azure;
}
